<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798911472838-aepgq40udff6rie0ln588c4vau3i9qoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798911472838-aepgq40udff6rie0ln588c4vau3i9qoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDTH-jfeTa-zKq4NvIqDkoTIghER_w09MI</string>
	<key>GCM_SENDER_ID</key>
	<string>798911472838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.Taillook.emostack</string>
	<key>PROJECT_ID</key>
	<string>emostack</string>
	<key>STORAGE_BUCKET</key>
	<string>emostack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798911472838:ios:b1aa712805bf4751</string>
	<key>DATABASE_URL</key>
	<string>https://emostack.firebaseio.com</string>
</dict>
</plist>